body {
	font-family: 'Red Hat Text', sans-serif;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	padding: 0;
	margin: 0;
	min-width: 768px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

ul,
li {
	display: block;
	padding: 0;
	margin: 0;
}

main {
	justify-content: center;
	align-items: center;
	display: block;
	clear: both;
}

.h1-header {
	font-size: 48px;
	color: white;
	font-family: Red Hat Text;
	font-weight: bold;
	text-align: center;
}


footer>.container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

header {
	background-image: url(../img/header.png);
	display: block;
	width: 100%;
	background-size: cover;
	z-index: 2;
}


.dropbtn {
    text-decoration: none;
	display: inline-block;
	color: #270404;
	padding: 20px 30px;
	margin: 10px 0px;
	border-radius: 10px;
	font-family: 'Red Hat Text', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: white;
	background-size: 200% auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, .1);
	transition: 1s;
}

.dropbtn:hover {
	transform: scale(1.2);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.gradient-button {
	text-decoration: none;
	display: inline-block;
	color: #270404;
	padding: 20px 30px;
	margin: 10px 0px;
	border-radius: 10px;
	font-family: 'Red Hat Text', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: white;
	background-size: 200% auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, .1);
	transition: 1s;
}

.gradient-button:hover {
	background-position: right center;
	transform: scale(1.2);
}
#navigation {
	display: block;
	padding: 20px 0;
}

.nav {
	align-items: center;
	display: flex;
	justify-content: space-around;
}

#menu__toggle {
  opacity: 0;
}
.menu__btn {
  display: flex;
  align-items: center; 
  position: fixed;
  top: 30px;
  left: 20px;
  width: 46px;
  height: 120px;
  cursor: pointer;
  z-index: 12;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #C4C4C4;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  border-radius: 20px;
  z-index: 10;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.page {
	position: relative;
	min-height: 100vh;
	width: 100%;
  }
   
  .page-video {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
  }
   
  .page-video:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
  }
   
  .page-video .video {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
  }
   
  .content {
	position: relative;
	z-index: 2;
  }

.h1id {
	text-decoration: none;
	display: inline-block;
	color: #270404;
	padding: 20px 30px;
	border-radius: 10px;
	font-family: 'Red Hat Text', sans-serif;
	letter-spacing: 2px;
	background-color: #C4C4C4;
	background-size: 200% auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, .1);
	margin: 25px 100px;
	text-align: center;
	font-size: 18px;
	vertical-align: top;
}

.phdesc {
	text-decoration: none;
	display: inline-block;
	color: #270404;
	padding: 20px 30px;
	border-radius: 10px;
	font-family: 'Red Hat Text', sans-serif;
	letter-spacing: 2px;
	background-color: #C4C4C4;
	background-size: 200% auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, .1);
	margin: 25px 100px;
	text-align: center;
	font-size: 18px;
	vertical-align: top;
}

.svcdesc {
	text-decoration: none;
	display: inline-block;
	color: #270404;
	padding: 20px 30px;
	border-radius: 10px;
	font-family: 'Red Hat Text', sans-serif;
	letter-spacing: 2px;
	background-color: #C4C4C4;
	background-size: 200% auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, .1);
	margin: 25px 290px;
	text-align: center;
	font-size: 18px;
	vertical-align: top;
}

.maininfo {
	display: block;
	z-index: 2;
}



.container {
	z-index: 2;
}

.link {
	display: inline;
	font-size: 22px;
	padding: 27.5px 16px;
	color: white;
}


.a {
	font-size: 14px;
	font-weight: 300;
	padding: 0 0 0 10px;
}

.DescriptionOne {
	display: inline-block;
}

.DescriptionSecond {
	display: inline-block;
}

.desc1img {
	display: table;
	margin: 0 auto;
}

.desc2img {
	display: table;
	margin: 0 auto 25px;
}

.phdescimg {
	display: table;
	margin: 0 auto;
	margin-bottom: 100px;
}



.svcdescimg {
	display: table;
	margin: 0 auto;
	margin-bottom: 100px;
}

.svcosimg {
	display: table;
	margin: 0 auto;
	margin-bottom: 100px;
	margin-top: 40px;
}

.svcdetimg {
	display: table;
	margin: 0 auto;
	margin-bottom: 100px;
	margin-top: 40px;
}

.banners {
	display: inline-block;
}


.partners {
	margin-bottom: 25px;
	font-size: 38px;
	color: black;
	font-weight: bold;
	font-family: Red Hat Text;
}

.Partners-Logo {
	width: 70%;
	margin: 0 auto 25px;
}

.Partners-Logo>div {

	display: flex;

	align-items: stretch;

	justify-content: center;

	margin-bottom: 10px;
}

.Photo-GalleryTwo {
	flex-wrap: wrap;
}
.Photo-GalleryTwo>div {
	display: flex;

	align-items: stretch;

	justify-content: center;

	margin-bottom: 10px;
}

.Photo-GalleryTwo>div>div {
	width: 30%;
	margin-right: 20px;
	display: flex;
	align-items: center;
}
.Photo-GalleryTwo>div>div>img {
	width: 100%;
}

.Photo-GalleryOne>div {
	
	display: flex;

	align-items: stretch;

	justify-content: center;

	margin-bottom: 10px;
}

.Photo-GalleryOne>div>div {
	width: 30%;
	margin-right: 20px;
	display: flex;
	align-items: center;
}

.Photo-GalleryOne>div>div>img {
	width: 100%;
}

.Partners-Logo>div>div {
	width: 30%;
	margin-right: 30px;
	display: flex;
	align-items: center;
}

.Partners-Logo>div>div>img {
	width: 100%;
}



.sponsors1 {
	display: inline-block;
	justify-content: center;
	height: 294px;
}

.sponsors2 {
	display: inline-block;
	justify-content: center;
	height: 294px;
}

.Partn1 {
	margin: 0 auto;
}

.Videos {
	display: table;
	margin: 0 auto;
}
footer {
	background-image: url(../img/header.png);
	font-weight: 500;
	display: block;
	background-size: cover;
}

.contacts {
	font-size: 24px;
	display: table;
	padding: 10px 20px;
}

.social {
	font-size: 24px;
	display: table;
	text-align: right;
	padding: 10px 20px;
}

.social img {
	margin-left: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	transition: 1s;
}

.social img:hover {
	transform: scale(1.2);
}

.footer_flex {
	display: block;
	align-items: center;
	justify-content: space-between;
}

.lnc {
	text-decoration: none;
	color: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
.containeros {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 0;
	flex-wrap: wrap;
}

.containeros .osbox {
position: relative;
width: 320px;
height: 400px;
color: #111;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
margin: 20px 30px;
transition: 0.5s;

}

.containeros .osbox:hover {
	transform: translateY(-20px);
}

.containeros .osbox:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, #ffbc00,	#ff0058);

}

.containeros .osbox:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, #ffbc00,	#ff0058);
	filter: blur(30px);
}

.containeros .osbox:nth-child(2)::before,
.containeros .osbox:nth-child(2)::after {
	background: linear-gradient(315deg, #03a9f4,	#ff0058);
}
.containeros .osbox:nth-child(3)::before,
.containeros .osbox:nth-child(3)::after {
	background: linear-gradient(315deg, #4dff03,	#00d0ff);
}

.containeros .osbox span {
	position: absolute;
	top: 6px;
	left: 6px;
	right: 6px;
	bottom: 6px;
	background: rgba(0,0,0,0.6);
	z-index: 2;
}

.containeros .osbox span::before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: rgba(255,255,255,0.1);
	pointer-events: none;
}

.containeros .osbox .contentos {
	position: relative;
	z-index: 10;
	padding: 20px 40px;
}

.containeros .osbox .contentos h2 {
	font-size: 2em;
	color:#fff;
	margin-bottom: 10px;
	font-family: consolas;
}

.containeros .osbox .contentos p {
	font-size: 1.1em;
	color:#fff;
	margin-bottom: 10px;
	line-height: 1.4em;
	font-family: consolas;
}

.containeros .osbox .contentos a {
	display: inline-block;
	font-size: 1.1em;
	color: #fff;
	background: #111;
	padding: 10px;
	text-decoration: none;
	font-weight: 700;
}

table {
	border-spacing: 0 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin: 0 auto;
	}
	
	th {
	padding: 10px 20px;
	background: #56433D;
	color: #F9C941;
	border-right: 2px solid; 
	font-size: 0.9em;
	}
	
	th:first-child {
	text-align: left;
	}
	
	th:last-child {
	border-right: none;
	}
	
	td {
	vertical-align: middle;
	padding: 10px;
	font-size: 14px;
	text-align: center;
	border-top: 2px solid #56433D;
	border-bottom: 2px solid #56433D;
	border-right: 2px solid #56433D;
	color: #111;
}
	
	td:first-child {
	border-left: 2px solid #56433D;
	border-right: none;
	}
	
	td:nth-child(2){
	text-align: left;
	}

	form{
		margin:0 auto;
		max-width:45%;
		box-sizing:border-box;
		padding:40px;
		border-radius:5px; 
		-webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
		box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
		margin-top: 40px;
		margin-bottom: 40px; 
	  }
	  
	  .textbox{
		height:50px;
		width:100%;
		border-radius:3px;
		border:rgba(0,0,0,.3) 2px solid;
		box-sizing:border-box;
		font-family: 'Open Sans', sans-serif;
		font-size:18px; 
		padding:10px;
		margin-bottom:30px;  
	  }
	  .message:focus,
	  .textbox:focus{
		outline:none;
		 border:rgba(24,149,215,1) 2px solid;
		 color:rgba(24,149,215,1);
	  }
	  
	  .message{
		  background: rgba(255, 255, 255, 0.4); 
		  width:100%;
		  height: 120px;
		  border:rgba(0,0,0,.3) 2px solid;
		  box-sizing:border-box;
		  -moz-border-radius: 3px;
		  font-size:18px;
		  font-family: 'Open Sans', sans-serif;
		  -webkit-border-radius: 3px;
		  border-radius: 3px; 
		  display:block;
		  padding:10px;
		  margin-bottom:30px;
		  overflow:hidden;
	  }
	  
	  .button{
		height:50px;
		width:45%;
		border-radius:3px;
		border:rgba(0,0,0,.3) 0px solid;
		box-sizing:border-box;
		padding:10px;
		background:#90c843;
		color:#FFF;
		font-family: 'Open Sans', sans-serif;  
		font-weight:400;
		font-size: 16pt;
		transition:background .4s;
		cursor:pointer;
		transition: 1s;
	  }
	  
	  .button:hover{
		background:rgb(145, 255, 0);
		transform: scale(1.2);
	  }

	  .orderbg {
		background-image: url(../img/bgorder.png);
		background-size: cover;
		object-fit: cover;
		min-height: 100vh;
	  }


	  .reviews {
		border: 2px solid #ccc;
		border-radius: 5px;
		padding: 16px;
		margin: 0 auto;
		width: 80%;
		margin-top: 30px;
		margin-bottom: 20px;
		transition: 1s;
	}

	.reviews:hover {
		transform: scale(1.2);
	}
	
	
	.reviews::after {
		content: "";
		clear: both;
		display: table;
	}
	
	
	.reviews img {
		float: left;
		margin-right: 20px;
		border-radius: 50%;
	}
	
	
	.reviews span {
		font-size: 40px;
		margin-right: 15px;
	}
	.reviews p {
		color: #111;
		font-size: 25px;
	}

	.banneranim {
		transition: 1s;
	}

	.banneranim:hover {
		transform: scale(1.2);
	}
	
	@media (max-width: 768px) {
	  .reviews {
		text-align: center;
	  }
	
	  .reviews img {
		margin: auto;
		float: none;
		display: block;
	  }
	}

@media screen and (max-width: 768px) {
	.nav {
		/* width: auto; */
		/* margin-left: auto; */
		/* margin: 30px 15px 0px; */
		display: none !important;
	}
	.button {
		width: 55%;
	}

	.orderbg {
		background-image: url(../img/bgordermobile.png);
		background-size: cover;
		object-fit: cover;
		min-height: 100vh;
	}

	.gradient-button {
		padding: 20px 10px;
	}
	main {
		display: block;
	}

	.DescriptionOne {
		display: block;
	}

	.h1id {
		margin: 25px 100px 25px;
	}

	.desc1img {
		margin: 0px 160px 25px;
	}

	.desc2img {
		margin: 0px 100px 25px;
	}

	.SponsorsHead {
		margin: 0px 270px 0px;
	}

	.banners {
		margin: 0px 70px 0px;
	}

	.sponsors2 {
		margin: 0px 160px 0px;
	}

	.contacts {
		margin: 10px 15px 10px;
	}

	.maininfo {
		flex-direction: column;
		display: flex;
	}
}

@media screen and (min-width: 769px) {
	.menu__btn {
		display: none;
	}
}